{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <div class="input-form card">
        <h2>Send an Email</h2>
        <p>We'd love to hear from you!</p>
        <form method="post" class="input-form">
        {% csrf_token %}
            <div class="form-row">
                <label for="sender_name">Your name</label>
                <br>
                <input type="text" id="sender_name" name="sender_name" required>
            </div>
            <div class="form-row">
                <label for="sender_email">Your email address</label>
                <br>
                <input type="text" id="sender_email" name="sender_email" required>
            </div>
            <div class="form-row">
                <label for="message">What would you like to say? </label>
                <textarea id="message" name="message"></textarea>
            </div>
            <button type="submit" class="submit-btn">Send Message</button>
            {% if messages %}
                    <ul class="messages">
                        <div class="response_message">
                        {% for message in messages %}
                            <li {% if message.tags %}class="card {{ message.tags }}"{% endif %}>
                                {{ message }}
                                {% if message.tags == 'success'%}
                                    <a class="response-btn" href="/">Home</a>
                                {% elif message.tags == 'error' %}
                                    <a class="response-btn" href="/contact">Try again</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </div>
                    </ul>
            {% endif %}
        </form>
    </div>
{% endblock %}