{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <div class="email-form">
        <h2>Send an Email</h2>
        <p>We'd love to hear from you!</p>
        <form method="post">
        {% csrf_token %}
            <div class="form-row">
                <label for="sender_name">Your name</label>
                <br>
                <input type="text" id="sender_name" name="sender_name" required>
            </div>
            <div class="form-row">
                <label for="sender_email">Your email address</label>
                <br>
                <input type="text" id="sender_email" name="sender_email" required>
            </div>
            <div class="form-row">
                <label for="message">What would you like to say? </label>
                <textarea id="message" name="message"></textarea>
            </div>
            <button type="submit">Send</button>
            {% if messages %}
                <div>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}