{% extends 'base.html' %}
{% load static %}
{% block title %}Best Company - Team{% endblock %}
{% block content %}
    <h2>Our Team</h2>
    <div class="grid-container">
    {% for employee in employees %}
        <div class="grid-item card">
           <div>
               <img src="{% static 'images/'|add:employee.img_address %}">
           </div>
           <div>
               <h3>{{ employee.first_name }} {{ employee.last_name }}</h3>
               <p>{{ employee.role }}</p>
           </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}