/* General layouts, fonts and colors for all pages */
body {
    display: flex;
    flex-direction: column;
    font-family: "Arial Rounded MT Bold", sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom, #81d4fa, #b8e4f9);
    background-repeat: no-repeat;
    color: #1b1b1b;
    height: 100%;
}

header {
    padding: 5rem 0 2rem 2rem;
    background-image: linear-gradient(to bottom, #560303, #b20814);
    color: white;
}

header p {
    font-style: italic;
}

header img {
    border-radius: 0.5rem;
}

footer {
    flex-shrink: 0;
}

.main-wrapper {
    width: 75%;
    margin: auto;
    flex: 1 0 auto;
}

/* Grid layout */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.grid-item {
    padding: 0.5rem;
    margin: 0.5rem;
}

/* Flex layout */
.flex-container {
    display: flex;
    gap: 0.9rem;
}

/* Navigation Menu */
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #2a4d67, #4f77a9);
    width: 100%;
    padding: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
}

nav li a:link, nav li a:visited {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
}

nav li a:hover, nav li a:active {
    color: #858dcd;
}

/* Home page links */
.main-link:link, .main-link:visited {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 10rem;
    color: #212a8e;
    font-weight: bold;
    line-height: 10;
}

.main-link:hover, .main-link:active {
    color: #054f99;
}

#about-link, #team-link, #contact-link, #join-link {
    position: relative;
}

/* Transparent background images for links */
#about-link:before,
#team-link:before,
#contact-link:before,
#join-link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#about-link:before {
    background-image: url("../images/home-about.jpg");
}

#team-link:before {
    background-image: url("../images/home-team.jpg");
}

#contact-link:before {
    background-image: url("../images/home-contact.jpg");
}

#join-link:before {
    background-image: url("../images/home-join.jpg");
}

/* Standout page elements */
.card {
    background-image: linear-gradient(to bottom, #0d1c5d, #2836b1);
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.6rem #1b1b1b;
}

.card img {
    border-radius: 0.5rem;
}

/* Form elements */
.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 0.2rem;
}

.form-row {
    margin-bottom: 1rem;
    border-radius: 0.1rem;
    padding: 0.5rem;
}

.form-row textarea {
    display: block;
    width: 100%;
    min-height: 5rem;
}

#employment_status div {
    padding: 0.6rem;
}

.submit-btn {
    font-size: 1.1rem;
    cursor: pointer;
    background: #13132b;
    color: #bbc3fb;
    padding: 0.7rem 0.9rem;
    border: none;
}

/* Success and error messages for form submission */
.response_message {
    width: 10rem;
    height: 8rem;
    padding: 0.8rem;
    text-align: center;
    position: fixed;
    top:40%;
    left: 40%;
}

.response_message p {
    line-height: 1.5;
}

.response-btn {
    cursor: pointer;
    background: #4f4f4f;
    padding: 0.4rem;
    width: 30%;
    margin: auto;
    border-radius: 0.5rem;
}

.response-btn a:link, .response-btn a:visited {
    color: white;
    text-decoration: none;
}

.response-btn a:hover, .response-btn a:active {
    color: #5c82e7;
}

/* Responsive layouts */
@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 460px) {
    body {
        font-size: 0.7rem;
    }

    header img {
        width: 100px;
    }

    img {
        width: 200px;
    }

    .input-form {
        width: 100%;
        margin: auto;
    }

    .input-form form {
        width: 80%;
        margin: auto;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .flex-container {
        display: block;
    }
}


