body {
    font-family: "Arial Rounded MT Bold", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #2a4d67, #4f77a9);
    width: 100%;
    padding: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
}

nav li a:link, nav li a:visited {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
}

nav li a:hover, nav li a:active {
    color: #858dcd;
}

header {
    padding-top: 5rem;
    display: flex;
}

.main-wrapper {
    width: 75%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.grid-item {
    border: 1px solid green;
}

/* Contact page email form */
.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightblue;
}

.form-row {
    margin-bottom: 1rem;
    border-radius: 0.1rem;
    padding: 0.5rem;
}

.form-row textarea {
    display: block;
    width: 100%;
    min-height: 5rem;
}

.email-btn {
    font-size: 1.1rem;
    cursor: pointer;
    background: #13132b;
    color: #bbc3fb;
    padding: 0.7rem 0.9rem;
    border: none;
}