body {
    font-family: "Arial Rounded MT Bold", sans-serif;
}

.main-wrapper {
    width: 75%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.grid-item {
    border: 1px solid red;
}